Data Analysis of the Movies and Ratings Dataset

Task 1: Data Collection (Downloading the CSV files and Importing the Libraries)

In [1]:
import pandas as pd  # Most of the functions we use need the pandas library
import numpy as np

Task 2: Data Preprocessing (Loading and Cleaning the dataset using pandas)

In [2]:
'''Loading the Dataset in Python Using Pandas'''
movies = pd.read_csv('movies.csv') # Loads the movie dataset
(movies)
ratings = pd.read_csv('ratings.csv')
(ratings)

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

Cleaning the Dataset by removing the Null and Duplicates

In [3]:
# contain only the rows where there are matching values in both the movies and ratings 
movies_merged = movies.merge(ratings, how='outer') 
movies_merged

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,4.0,1.113766e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,5.0,9.488858e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14.0,4.5,1.442169e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,4.0,1.370810e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22.0,4.0,1.237623e+09
...,...,...,...,...,...,...
27757648,193878,Les tribulations d'une caissière (2011),Comedy,176871.0,2.0,1.537875e+09
27757649,193880,Her Name Was Mumu (2016),Drama,81710.0,2.0,1.537886e+09
27757650,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,33330.0,2.0,1.537891e+09
27757651,193886,Leal (2018),Action|Crime|Drama,206009.0,2.5,1.537918e+09
27757652,193886,Leal (2018),Action|Crime|Drama,226715.0,4.0,1.537916e+09

In [4]:
# We can use the drop_duplicates function to get rid of the same value 
movies_df = movies_merged.drop_duplicates(subset=['title', 'userId', 'rating'])
movies_df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,4.0,1.113766e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,5.0,9.488858e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14.0,4.5,1.442169e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,4.0,1.370810e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22.0,4.0,1.237623e+09
...,...,...,...,...,...,...
27757648,193878,Les tribulations d'une caissière (2011),Comedy,176871.0,2.0,1.537875e+09
27757649,193880,Her Name Was Mumu (2016),Drama,81710.0,2.0,1.537886e+09
27757650,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,33330.0,2.0,1.537891e+09
27757651,193886,Leal (2018),Action|Crime|Drama,206009.0,2.5,1.537918e+09
27757652,193886,Leal (2018),Action|Crime|Drama,226715.0,4.0,1.537916e+09

Task 3: Data Exploration

Number of Movies in the Dataset

In [6]:
# We can use the title and nunique() function to count the number of movies
num_movies = movies_df['title'].nunique()
print("The number of movies:")
num_movies

The number of movies:

58020

Number of Genres

In [7]:
#In order to find the number of unique genres we need to split the genres column and calculate the no. of genres after
unique_genres = set()     #The set unique_genres stores all the values in genres seprately 
for genre in movies_df['genres']: # Because one movie has multiple genres we need to split the column and add the genres to the list
  list_of_genre = genre.split('|')
  for genres in list_of_genre:
    unique_genres.add(genres)

unique_genres.remove('(no genres listed)')  #Since in the dataset there are movies with no genres we need to exclude it
len_genre = len(unique_genres)
print(unique_genres)
print(len_genre)

{'Action', 'Sci-Fi', 'Children', 'Animation', 'Comedy', 'War', 'Romance', 'Film-Noir', 'IMAX', 'Western', 'Drama', 'Crime', 'Horror', 'Fantasy', 'Documentary', 'Mystery', 'Thriller', 'Musical', 'Adventure'}
19

Average Ratings per Movie

In [8]:
#To get average rating we can calculate the total ratings and divide it by the no. of movies
ratings_per_movie = movies_df.groupby('title').size()
total_ratings = ratings_per_movie.sum()
average_rating_per_movie = total_ratings / num_movies
print(average_rating_per_movie)

478.40937607721474

Task 4: Data Analysis

Average Rating of Each Movie

In [9]:
# To find the average ratings for each movie we can use the mean() function and groupby to group the titles and ratings
avg_rating = movies_df.groupby('title')['rating'].mean()
print(avg_rating)

title
"Great Performances" Cats (1998)          2.815556
#1 Cheerleader Camp (2010)                2.777778
#Captured (2017)                          2.500000
#Horror (2015)                            2.078947
#SCREAMERS (2016)                         2.500000
                                            ...
…And the Fifth Horseman Is Fear (1965)    3.250000
キサラギ (2007)                               3.666667
チェブラーシカ (2010)                            3.150000
貞子3D (2012)                               2.136364
줄탁동시 (2012)                               4.000000
Name: rating, Length: 58020, dtype: float64

Top Highest Rated Movies

In [11]:
min_ratings = 600  # We got 515 as the average ratings so we thought about making the min ratings according to that
movie_stats = movies_df.groupby('title').agg({'rating': [np.mean, np.size]}) #We use numpy library to get the mean and the size
popular_movies = movie_stats['rating']['size'] >= min_ratings
top_movies = movie_stats[popular_movies].sort_values([('rating', 'mean')], ascending=False)
# select the top 10 movies by mean rating
top_10_movies = top_movies.head(10)
# print the top 10 highest-rated movies
print(top_10_movies)

                                               rating
                                                 mean   size
title
Planet Earth II (2016)                       4.486518    853
Planet Earth (2006)                          4.458092   1384
Shawshank Redemption, The (1994)             4.424188  97999
Band of Brothers (2001)                      4.399898    984
Black Mirror: White Christmas (2014)         4.350559   1074
Godfather, The (1972)                        4.332893  60904
Usual Suspects, The (1995)                   4.291959  62180
Godfather: Part II, The (1974)               4.263035  38875
Schindler's List (1993)                      4.257502  71516
Seven Samurai (Shichinin no samurai) (1954)  4.254116  14578

Most rated movies

In [12]:
#We already have some of the information from average rating per movie we can just use that and get top 10 by using nlargest()
ratings_per_movie = movies_df.groupby('title').size()
ratings_per_movie.nlargest(10)

title
Shawshank Redemption, The (1994)             97999
Forrest Gump (1994)                          97040
Pulp Fiction (1994)                          92406
Silence of the Lambs, The (1991)             87899
Matrix, The (1999)                           84545
Star Wars: Episode IV - A New Hope (1977)    81815
Jurassic Park (1993)                         76451
Schindler's List (1993)                      71516
Braveheart (1995)                            68803
Toy Story (1995)                             68469
dtype: int64

Average ratings per genre

In [13]:
#We need to make copy of the dataset so we do not modify the original copy
movies_df_copy = movies_df.copy()
movies_df_copy['genres'] = movies_df_copy['genres'].astype(str).str.split('|') #Splitting the genre column by '|' to get each different genre name
newTest = movies_df_copy.explode('genres') #transforms the column with lists into a new DataFrame with one row for each item in the list.

In [21]:
newtest = newTest.groupby('genres').agg({'rating': [np.mean, np.size]})
newtest = newtest.drop('(no genres listed)')
# movie_stats = movies_df.groupby('title').agg({'rating': [np.mean, np.size]}) #We use numpy library to get the mean and the size
print(newtest)

               rating
                 mean      size
genres
Action       3.462568   8215339
Adventure    3.513285   6452613
Animation    3.607310   1803059
Children     3.423898   2381192
Comedy       3.419787  10000084
Crime        3.683526   4631887
Documentary  3.710864    345668
Drama        3.676372  12192494
Fantasy      3.507209   3118622
Film-Noir    3.928678    272746
Horror       3.284381   2071107
IMAX         3.618976   1102179
Musical      3.542752   1109712
Mystery      3.665570   2210587
Romance      3.541862   5078897
Sci-Fi       3.470484   4740139
Thriller     3.518803   7490013
War          3.796597   1426246
Western      3.577673    542710

Release Year Vs. Genres Graph

In [ ]:
import matplotlib.pyplot as plt

# movies_df contains the dataframe of the movies data
movies_copy = movies_df.copy() #initializes a copy of merge into a variable

movies_copy['release year'] = movies_copy['title'].str.extract('\((\d{4})\)') #separating the release year into its own column

movies_copy.dropna(subset=['release year'], inplace=True) #drops duplicate

movies_copy['genres'] = movies_copy['genres'].astype(str).str.split('|')
movies_copy = movies_copy.explode('genres')

graph_genre = movies_copy.copy()
genre_list = graph_genre['genres'].unique()

avg_rating_genre_list = {}
for genre in genre_list: # loops through the 19 different genre
    specificGenre = graph_genre[graph_genre['genres'] == genre]
    release_and_rating = specificGenre.drop(['genres'], axis = 1) 
    averageRating_perYear = release_and_rating.groupby('release year')['rating'].mean() #finds average
    avg_rating_genre_list[genre] = averageRating_perYear

fig, axs = plt.subplots(nrows=4, ncols=5, figsize=(20, 10), dpi=100)

for ax, (genre, genre_data) in zip(axs.flat, avg_rating_genre_list.items()):
    ax.plot(genre_data.index.astype(int), genre_data.values)
    ax.set_xlabel('Release Year')
    ax.set_ylabel('Average Rating')
    ax.set_title(genre)

plt.tight_layout()
plt.show()